extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner portalExpress
    div.Message
      div.Title
        h3 Making the node.js application
        h1 with Express Framewok
      span.Details Access the portalExpress
    div.NavButtons
      a(href="/go")
          div.NavButton go
